# Sampling tweets

In [44]:
import pandas as pd

In [28]:
twts = pd.read_csv('Tweet.csv')
cmp_tweet = pd.read_csv('Company_Tweet.csv')
cmp = pd.read_csv('Company.csv')

In [30]:
twts.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

In [31]:
len(twts)

3717964

In [32]:
cmp_tweet.head()

             tweet_id ticker_symbol
0  550803612197457920          AAPL
1  550803610825928706          AAPL
2  550803225113157632          AAPL
3  550802957370159104          AAPL
4  550802855129382912          AAPL

In [33]:
mrged = twts.merge(cmp_tweet, on='tweet_id', how='inner')

In [34]:
mrged.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,AAPL
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0,AAPL
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0,AMZN
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1,TSLA
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL

In [36]:
from datetime import datetime

mrged = mrged.drop(['writer'], axis=1)
mrged['post_date'] = mrged['post_date'].apply(datetime.fromtimestamp)

In [37]:
mrged.sample(5)

,tweet_id,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
450825,618709693230354432,2015-07-08 11:14:20,Research Analysts’ Recent Ratings Changes for ...,0,0,0,TSLA
1192051,732370597251010560,2016-05-17 02:42:11,These assets are seeing a jump in tweets #fint...,0,0,0,AAPL
4147044,1181656940469981184,2019-10-08 21:45:43,"For a discussion, if China starts throwing pun...",1,0,0,AAPL
2863077,1006484635205947393,2018-06-12 12:33:31,NEWS OUT : BlackBerry QNX Technology Now Embed...,1,0,0,AAPL
1227223,736290154789277696,2016-05-27 22:17:07,"Improve your CV, Master #Microsoft Office with...",0,0,0,MSFT

In [ ]:
sample = mrged.sample(100_000, random_state=2137)

In [ ]:
sample.to_csv('tweets_sample.csv', index=False)