# Tweets preparation

In [78]:
import pandas as pd

In [79]:
twts = pd.read_csv('Tweet.csv')
cmp_tweet = pd.read_csv('Company_Tweet.csv')
cmp = pd.read_csv('Company.csv')

In [80]:
twts.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

In [81]:
len(twts)

3717964

In [82]:
cmp_tweet.head()

             tweet_id ticker_symbol
0  550803612197457920          AAPL
1  550803610825928706          AAPL
2  550803225113157632          AAPL
3  550802957370159104          AAPL
4  550802855129382912          AAPL

In [83]:
mrged = twts.merge(cmp_tweet, on='tweet_id', how='inner')

In [84]:
mrged = mrged.merge(cmp, on='ticker_symbol', how='inner')

In [85]:
mrged.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol,company_name
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,AAPL,apple
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0,AAPL,apple
2,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL,apple
3,550443808606126081,aaplstocknews,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL,apple
4,550443809700851716,iknowfirst,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL,apple

In [86]:
from datetime import datetime

mrged = mrged.drop(['writer'], axis=1)
mrged['post_date'] = mrged['post_date'].apply(datetime.fromtimestamp)

In [87]:
mrged.ticker_symbol.unique()

array(['AAPL', 'AMZN', 'TSLA', 'MSFT', 'GOOG', 'GOOGL'], dtype=object)

In [88]:
mrged.company_name.unique()

array(['apple', 'Amazon.com', 'Tesla Inc', 'Microsoft', 'Google Inc'],
      dtype=object)

In [89]:
def clean_company_names(col):
    col = col.split()[0]
    col = col.lower()
    return col

In [90]:
mrged['company_name'] = mrged['company_name'].apply(clean_company_names)

In [91]:
mrged.sample(5)

,tweet_id,post_date,body,comment_num,retweet_num,like_num,ticker_symbol,company_name
3210873,1201504456287887366,2019-12-02 15:12:39,"Yes, which was addressed in the article. Pleas...",2,0,1,TSLA,tesla
511033,729690989904924673,2016-05-09 17:14:23,"@AnthonyMaceroniTriple top, Head & Shoulders, ...",1,0,1,AAPL,apple
261789,637983125583171584,2015-08-30 15:40:04,EROS Eros International plc Message Board Post...,0,0,0,AAPL,apple
3548013,1068641098069934082,2018-12-01 00:01:06,"$qqq monthly, it feels like a fork in the road...",0,0,0,MSFT,microsoft
1725861,857589555477741569,2017-04-27 15:37:37,talk about an earnings line up today $AMZN + $...,0,0,0,AMZN,amazon.com

In [92]:
#sample = mrged.sample(100_000, random_state=2137)

In [93]:
#mrged.to_csv('Tweets_merged.csv', index=False)

In [101]:
company = mrged['company_name'].unique()
tweets_companies = {}
for i in company:
    mrged[mrged['company_name'] == i].reset_index(drop=True).to_csv(f'company_tweets/{i}_tweets.csv', index=False)