# Tweets preparation

In [1]:
import pandas as pd

In [3]:
twts = pd.read_csv('Tweet.csv')
cmp_tweet = pd.read_csv('Company_Tweet.csv')
cmp = pd.read_csv('Company.csv')

In [4]:
twts.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

In [5]:
len(twts)

3717964

In [6]:
cmp_tweet.head()

             tweet_id ticker_symbol
0  550803612197457920          AAPL
1  550803610825928706          AAPL
2  550803225113157632          AAPL
3  550802957370159104          AAPL
4  550802855129382912          AAPL

In [7]:
mrged = twts.merge(cmp_tweet, on='tweet_id', how='inner')

In [8]:
mrged = mrged.merge(cmp, on='ticker_symbol', how='inner')

In [9]:
mrged.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol,company_name
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,AAPL,apple
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0,AAPL,apple
2,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL,apple
3,550443808606126081,aaplstocknews,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL,apple
4,550443809700851716,iknowfirst,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL,apple

In [10]:
from datetime import datetime

mrged = mrged.drop(['writer'], axis=1)
mrged['post_date'] = mrged['post_date'].apply(datetime.fromtimestamp)

In [11]:
mrged.ticker_symbol.unique()

array(['AAPL', 'AMZN', 'TSLA', 'MSFT', 'GOOG', 'GOOGL'], dtype=object)

In [12]:
mrged.company_name.unique()

array(['apple', 'Amazon.com', 'Tesla Inc', 'Microsoft', 'Google Inc'],
      dtype=object)

In [13]:
def clean_company_names(col):
    col = col.split()[0]
    col = col.lower()
    return col

In [14]:
mrged['company_name'] = mrged['company_name'].apply(clean_company_names)

In [15]:
mrged.sample(5)

,tweet_id,post_date,body,comment_num,retweet_num,like_num,ticker_symbol,company_name
2867291,1082679146331877377,2019-01-08 17:43:18,i write about tsla almost every week. i hope ...,1,0,0,TSLA,tesla
2048812,1117641588396761088,2019-04-15 06:11:34,$AMZN But I have a bonus for u this evening>>I...,0,0,0,AMZN,amazon.com
1356471,1163489789867253760,2019-08-19 18:35:57,$EROS Huge China deal may see couple bigger de...,0,0,8,AAPL,apple
3207568,1199439724311654403,2019-11-26 22:28:09,$TSLA @elonmusk please make a Cyberboat and a ...,0,0,1,TSLA,tesla
2593942,1002244373847867392,2018-05-31 19:44:14,"Absolutely. This is wildly bullish, because it...",0,0,10,TSLA,tesla

In [16]:
#sample = mrged.sample(100_000, random_state=2137)

In [17]:
#mrged.to_csv('Tweets_merged.csv', index=False)

In [19]:
company = mrged['company_name'].unique()

for i in company:
    mrged[mrged['company_name'] == i].reset_index(drop=True).to_csv(f'company_tweets/{i}_tweets.csv', index=False)