In [1]:
import numpy as np
import pandas as pd

In [2]:
def clean_cols(columns):
    columns = columns.str.replace('<', '').str.replace('>', '')
    columns = columns.str.lower()
    return columns

In [6]:
company_names = ['amazon', 'apple', 'goog', 'googl', 'microsoft', 'tesla']
stocks = pd.DataFrame()

for company in company_names:
    stocks_company = pd.read_csv(f'stocks/{company}_stocks.csv')
    stocks_company.columns = clean_cols(stocks_company.columns)
    stocks = pd.concat([stocks, stocks_company])
stocks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63373 entries, 0 to 10563
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ticker  63373 non-null  object
 1   per     63373 non-null  int64
 2   date    63373 non-null  int64
 3   time    63373 non-null  int64
 4   open    63373 non-null  float64
 5   high    63373 non-null  float64
 6   low     63373 non-null  float64
 7   close   63373 non-null  float64
 8   vol     63373 non-null  int64
dtypes: float64(4), int64(4), object(1)
memory usage: 4.8+ MB

In [7]:
stocks.head()

     ticker  per      date    time    open    high       low   close     vol
0  US1.AMZN   60  20150102  180000  312.58  314.75  312.1100  313.52  404201
1  US1.AMZN   60  20150102  190000  313.25  313.59  308.6300  308.96  509208
2  US1.AMZN   60  20150102  200000  308.84  310.12  306.9601  309.75  427854
3  US1.AMZN   60  20150102  210000  309.77  309.93  308.0500  308.40  209933
4  US1.AMZN   60  20150102  220000  308.41  308.48  307.2500  308.35  158209

In [19]:
stocks['ticker'] = stocks['ticker'].apply(lambda x: x.split('.')[1])

In [20]:
stocks['ticker'].value_counts()

AAPL     10572
MSFT     10569
TSLA     10564
AMZN     10560
GOOGL    10559
GOOG     10549
Name: ticker, dtype: int64

array(['AMZN', 'AAPL', 'GOOG', 'GOOGL', 'MSFT', 'TSLA'], dtype=object)

In [28]:
for i in stocks['ticker'].unique():
    stocks[stocks['ticker'] == i].to_csv(f'stocks_clean/{i}.csv', index=None)