# Sampling tweets

In [1]:
import pandas as pd

In [3]:
twts = pd.read_csv('../datasets/Tweet.csv')
cmp_tweet = pd.read_csv('../datasets/Company_Tweet.csv')
cmp = pd.read_csv('../datasets/Company.csv')

In [4]:
twts.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

In [5]:
len(twts)

3717964

In [32]:
cmp_tweet.head()

             tweet_id ticker_symbol
0  550803612197457920          AAPL
1  550803610825928706          AAPL
2  550803225113157632          AAPL
3  550802957370159104          AAPL
4  550802855129382912          AAPL

In [6]:
mrged = twts.merge(cmp_tweet, on='tweet_id', how='inner')

In [7]:
mrged.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,AAPL
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0,AAPL
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0,AMZN
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1,TSLA
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL

In [8]:
from datetime import datetime

mrged = mrged.drop(['writer'], axis=1)
mrged['post_date'] = mrged['post_date'].apply(datetime.fromtimestamp)

In [10]:
mrged.to_csv('tweets_full.csv', index=False)

In [9]:
mrged.sample(5)

,tweet_id,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
2042107,860093924018450432,2017-05-04 13:29:05,Read this tweet a few times and let it sink i...,1,1,3,AAPL
3849288,1131614676754714625,2019-05-23 19:35:37,$AAPL - back in value territory. STO $AAPL Jun...,3,0,0,AAPL
1422870,765603626068824064,2016-08-16 19:38:23,$AAPL is $110.23,0,0,0,AAPL
955913,700953853605371904,2016-02-20 09:03:16,$AAPL - War Over Unlocking IPhone Escalates ht...,0,0,0,AAPL
621348,642130938692964353,2015-09-11 02:22:00,Institutional investors dominate the stock mar...,0,0,2,AAPL

In [ ]:
sample = mrged.sample(100_000, random_state=2137)

In [ ]:
sample.to_csv('tweets_sample.csv', index=False)